nodered/app/flows/carddispenser.json
[{"id":"d21bf870.c1a04","type":"tab","label":"CardDispension","disabled":false,"info":""},{"id":"917dbea6.1e3a78","type":"http in","z":"d21bf870.c1a04","name":"[GET] /carddispenser","url":"/carddispenser","method":"get","upload":false,"swaggerDoc":"","x":200,"y":100,"wires":[["66517a10.a4bee4","3f418105.e227ae","c0122207.57c228"]]},{"id":"4b182f97.75d558","type":"http response","z":"d21bf870.c1a04","name":"HTTP OK","statusCode":"200","headers":{},"x":684,"y":144,"wires":[]},{"id":"69f1b5e7.3b587c","type":"http in","z":"d21bf870.c1a04","name":"[POST] /carddispenser_result","url":"/carddispenser_result","method":"post","upload":false,"swaggerDoc":"","x":218,"y":395,"wires":[["13209f66.af3a19","ae2bc84f.07223"]]},{"id":"13209f66.af3a19","type":"http response","z":"d21bf870.c1a04","name":"HTTP OK","statusCode":"200","headers":{},"x":448,"y":455,"wires":[]},{"id":"ae2bc84f.07223","type":"debug","z":"d21bf870.c1a04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":477,"y":351,"wires":[]},{"id":"4cf01aea.469dac","type":"rpi-gpio out","z":"d21bf870.c1a04","name":"","pin":"7","set":true,"level":"0","freq":"","out":"out","x":684,"y":264,"wires":[]},{"id":"66517a10.a4bee4","type":"debug","z":"d21bf870.c1a04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":40,"wires":[]},{"id":"3f418105.e227ae","type":"delay","z":"d21bf870.c1a04","name":"Delay 1 sec","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":494,"y":104,"wires":[["c88b231a.8119c8"]]},{"id":"c88b231a.8119c8","type":"change","z":"d21bf870.c1a04","name":"set pin LOW","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":494,"y":164,"wires":[["4cf01aea.469dac","ec6cfe7a.aa4cc","4b182f97.75d558"]]},{"id":"ec6cfe7a.aa4cc","type":"debug","z":"d21bf870.c1a04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":474,"y":224,"wires":[]},{"id":"c0122207.57c228","type":"change","z":"d21bf870.c1a04","name":"set pin HIGH","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":374,"y":284,"wires":[["4cf01aea.469dac","ec6cfe7a.aa4cc"]]},{"id":"15841f2d.3ef8e1","type":"PN532","z":"d21bf870.c1a04","name":"","sensorFunction":"read","delay":"2","x":99.5,"y":637,"wires":[["43117a29.6e985c","d82f19c3.196478","6ddcae97.6a9e78","7fbbef71.18ec58"]]},{"id":"43117a29.6e985c","type":"debug","z":"d21bf870.c1a04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":337.5,"y":506,"wires":[]},{"id":"aede9c42.aa9288","type":"change","z":"d21bf870.c1a04","name":"set pin LOW","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":475,"y":602,"wires":[["b2357786.632698"]]},{"id":"6ddcae97.6a9e78","type":"change","z":"d21bf870.c1a04","name":"set pin HIGH","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":662,"wires":[["b2357786.632698"]]},{"id":"d82f19c3.196478","type":"delay","z":"d21bf870.c1a04","name":"Delay 1 sec","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":294,"y":602,"wires":[["aede9c42.aa9288"]]},{"id":"b2357786.632698","type":"rpi-gpio out","z":"d21bf870.c1a04","name":"","pin":"11","set":true,"level":"0","freq":"","out":"out","x":649,"y":643,"wires":[]},{"id":"ba643391.e03c98","type":"aws-mqtt out","z":"d21bf870.c1a04","device":"b1390a6.e65e7f8","topic":"/coffeemaker/addcard","qos":0,"x":405.5,"y":774,"wires":[]},{"id":"7fbbef71.18ec58","type":"template","z":"d21bf870.c1a04","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"userId\": \"123\",\n  \"cardId\": \"{{payload}}\",\n  \"credit\": 2\n}\n  ","output":"json","x":233.5,"y":726,"wires":[["ba643391.e03c98","28e2a336.e184b4"]]},{"id":"28e2a336.e184b4","type":"debug","z":"d21bf870.c1a04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":396.5,"y":716,"wires":[]},{"id":"60e09ebc.1c0218","type":"inject","z":"d21bf870.c1a04","name":"","topic":"","payload":"001234567890","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":127.5,"y":792,"wires":[["7fbbef71.18ec58"]]},{"id":"b1390a6.e65e7f8","type":"aws-iot-device","z":"","name":"d0f9367db2","mode":"broker","clientId":"d0f9367db2","endpoint":"a3dtjrh1oco8co-ats.iot.us-west-2.amazonaws.com","awscerts":"/root/.agent/certs/"}]