nodered/app/flows/carddispenser.json
[{"id":"308488e9.217a28","type":"tab","label":"CardDispension","disabled":false,"info":""},{"id":"e66155d.0d11a28","type":"http in","z":"308488e9.217a28","name":"[GET] /carddispenser","url":"/carddispenser","method":"get","upload":false,"swaggerDoc":"","x":200,"y":100,"wires":[["8730d970.44737","41b4ab79.2558ec","ccc7b041.6b97f"]]},{"id":"8f6f254b.fde35","type":"http response","z":"308488e9.217a28","name":"HTTP OK","statusCode":"200","headers":{},"x":684,"y":144,"wires":[]},{"id":"ae43c723.9322d","type":"http in","z":"308488e9.217a28","name":"[POST] /carddispenser_result","url":"/carddispenser_result","method":"post","upload":false,"swaggerDoc":"","x":218,"y":395,"wires":[["721a5c4c.75be14","44f49251.34c09c"]]},{"id":"721a5c4c.75be14","type":"http response","z":"308488e9.217a28","name":"HTTP OK","statusCode":"200","headers":{},"x":448,"y":455,"wires":[]},{"id":"44f49251.34c09c","type":"debug","z":"308488e9.217a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":477,"y":351,"wires":[]},{"id":"3996a409.e32f44","type":"rpi-gpio out","z":"308488e9.217a28","name":"","pin":"7","set":true,"level":"0","freq":"","out":"out","x":684,"y":264,"wires":[]},{"id":"8730d970.44737","type":"debug","z":"308488e9.217a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":40,"wires":[]},{"id":"41b4ab79.2558ec","type":"delay","z":"308488e9.217a28","name":"Delay 1 sec","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":494,"y":104,"wires":[["55b3b152.029e2"]]},{"id":"55b3b152.029e2","type":"change","z":"308488e9.217a28","name":"set pin LOW","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":494,"y":164,"wires":[["3996a409.e32f44","732c4a7a.b64034","8f6f254b.fde35"]]},{"id":"732c4a7a.b64034","type":"debug","z":"308488e9.217a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":474,"y":224,"wires":[]},{"id":"ccc7b041.6b97f","type":"change","z":"308488e9.217a28","name":"set pin HIGH","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":374,"y":284,"wires":[["3996a409.e32f44","732c4a7a.b64034"]]},{"id":"15f698eb.fd0adf","type":"PN532","z":"308488e9.217a28","name":"","sensorFunction":"read","delay":"2","x":99.5,"y":637,"wires":[["69a345d9.f30e8c","8761fb3a.8c19b","76b835ca.587d9c","b3b343f6.638af"]]},{"id":"69a345d9.f30e8c","type":"debug","z":"308488e9.217a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":337.5,"y":506,"wires":[]},{"id":"a1ae99f6.c58768","type":"change","z":"308488e9.217a28","name":"set pin LOW","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":475,"y":602,"wires":[["f99ce034.03506"]]},{"id":"76b835ca.587d9c","type":"change","z":"308488e9.217a28","name":"set pin HIGH","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":662,"wires":[["f99ce034.03506"]]},{"id":"8761fb3a.8c19b","type":"delay","z":"308488e9.217a28","name":"Delay 1 sec","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":294,"y":602,"wires":[["a1ae99f6.c58768"]]},{"id":"f99ce034.03506","type":"rpi-gpio out","z":"308488e9.217a28","name":"","pin":"11","set":true,"level":"0","freq":"","out":"out","x":649,"y":643,"wires":[]},{"id":"8b92b974.3ac5f","type":"AWS IotData","z":"308488e9.217a28","aws":"96feedd0.d12418","operation":"Publish","thingName":"","topic":"coffeemaker/addcard","payload":"","endPoint":"a3dtjrh1oco8co-ats.iot.us-west-2.amazonaws.com","name":"addCard","x":570.5,"y":985,"wires":[[],[]]},{"id":"b3b343f6.638af","type":"template","z":"308488e9.217a28","name":"setTopic","field":"topic","fieldType":"msg","format":"handlebars","syntax":"plain","template":"coffeemaker/addcard","output":"str","x":345.5,"y":872,"wires":[["bee9249b.e9fa38"]]},{"id":"bee9249b.e9fa38","type":"template","z":"308488e9.217a28","name":"setMessage","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"userId\": \"123\",\n  \"cardId\": \"{{payload}}\",\n  \"credit\": 2\n}\n","output":"str","x":380.5,"y":949,"wires":[["8b92b974.3ac5f","63beb238.b321ec","10769491.ecf623"]]},{"id":"63beb238.b321ec","type":"debug","z":"308488e9.217a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":574,"y":930,"wires":[]},{"id":"10769491.ecf623","type":"debug","z":"308488e9.217a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":567,"y":884,"wires":[]},{"id":"96feedd0.d12418","type":"amazon config","z":"","name":"AWS","region":"us-west-2","proxyRequired":false,"proxy":""}]