nodered/app/flows/carddispenser.json
[{"id":"64501a3e.66722c","type":"tab","label":"CardDispension","disabled":false,"info":""},{"id":"da3b48d8.a70ed","type":"http in","z":"64501a3e.66722c","name":"[GET] /carddispenser","url":"/carddispenser","method":"get","upload":false,"swaggerDoc":"","x":200,"y":100,"wires":[["5107a6a0.9e0ef","a074bd60.096c2","e75a1564.4a8578"]]},{"id":"241f79ff.74aec6","type":"http response","z":"64501a3e.66722c","name":"HTTP OK","statusCode":"200","headers":{},"x":684,"y":144,"wires":[]},{"id":"14420f44.e91159","type":"http in","z":"64501a3e.66722c","name":"[POST] /carddispenser_result","url":"/carddispenser_result","method":"post","upload":false,"swaggerDoc":"","x":218,"y":395,"wires":[["a74d3dba.25fda8","8226923a.4731c"]]},{"id":"a74d3dba.25fda8","type":"http response","z":"64501a3e.66722c","name":"HTTP OK","statusCode":"200","headers":{},"x":448,"y":455,"wires":[]},{"id":"8226923a.4731c","type":"debug","z":"64501a3e.66722c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":477,"y":351,"wires":[]},{"id":"b8d1a876.a878c8","type":"rpi-gpio out","z":"64501a3e.66722c","name":"","pin":"7","set":true,"level":"0","freq":"","out":"out","x":684,"y":264,"wires":[]},{"id":"5107a6a0.9e0ef","type":"debug","z":"64501a3e.66722c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":40,"wires":[]},{"id":"a074bd60.096c2","type":"delay","z":"64501a3e.66722c","name":"Delay 1 sec","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":494,"y":104,"wires":[["a045e054.6bbca8"]]},{"id":"a045e054.6bbca8","type":"change","z":"64501a3e.66722c","name":"set pin LOW","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":494,"y":164,"wires":[["b8d1a876.a878c8","8ec04ae8.6ca27","241f79ff.74aec6"]]},{"id":"8ec04ae8.6ca27","type":"debug","z":"64501a3e.66722c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":474,"y":224,"wires":[]},{"id":"e75a1564.4a8578","type":"change","z":"64501a3e.66722c","name":"set pin HIGH","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":374,"y":284,"wires":[["b8d1a876.a878c8","8ec04ae8.6ca27"]]},{"id":"d2472ca2.7b7708","type":"PN532","z":"64501a3e.66722c","name":"","sensorFunction":"read","delay":"2","x":99.5,"y":637,"wires":[["f459b89d.a2f4b","62c6ea38.7c1a54","43bea0b4.a5c3a8","b45d99b1.6604e"]]},{"id":"f459b89d.a2f4b","type":"debug","z":"64501a3e.66722c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":337.5,"y":506,"wires":[]},{"id":"f7ec03c2.a21a38","type":"change","z":"64501a3e.66722c","name":"set pin LOW","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":475,"y":602,"wires":[["8037641e.f45118"]]},{"id":"43bea0b4.a5c3a8","type":"change","z":"64501a3e.66722c","name":"set pin HIGH","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":662,"wires":[["8037641e.f45118"]]},{"id":"62c6ea38.7c1a54","type":"delay","z":"64501a3e.66722c","name":"Delay 1 sec","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":294,"y":602,"wires":[["f7ec03c2.a21a38"]]},{"id":"8037641e.f45118","type":"rpi-gpio out","z":"64501a3e.66722c","name":"","pin":"11","set":true,"level":"0","freq":"","out":"out","x":649,"y":643,"wires":[]},{"id":"ef03f5d5.8be0a","type":"aws-mqtt out","z":"64501a3e.66722c","device":"9c8f1189.12853","topic":"/coffeemaker/addcard","qos":0,"x":405.5,"y":774,"wires":[]},{"id":"b45d99b1.6604e","type":"template","z":"64501a3e.66722c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"userId\": \"123\",\n  \"cardId\": \"{{payload}}\",\n  \"credit\": 2\n}\n  ","output":"json","x":233.5,"y":726,"wires":[["ef03f5d5.8be0a","f2259abb.c614c"]]},{"id":"f2259abb.c614c","type":"debug","z":"64501a3e.66722c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":396.5,"y":716,"wires":[]},{"id":"b3192e04.9997c","type":"inject","z":"64501a3e.66722c","name":"","topic":"","payload":"001234567890","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":127.5,"y":792,"wires":[["b45d99b1.6604e"]]},{"id":"9c8f1189.12853","type":"aws-iot-device","z":"","name":"e3cb6c19e6","mode":"broker","clientId":"e3cb6c19e6","endpoint":"a3dtjrh1oco8co-ats.iot.us-west-2.amazonaws.com","awscerts":"/root/.agent/certs"}]