nodered/app/flows/custom-flows.json
[{"id":"d5487484.5e656","type":"tab","label":"CardDispension","disabled":false,"info":""},{"id":"b7125e5.01c232","type":"tab","label":"REST-API","disabled":false,"info":""},{"id":"f323afe0.ef88c","type":"mongodb3","z":"","uri":"mongodb://javaland-shard-00-00-rfbkj.mongodb.net:27017,javaland-shard-00-01-rfbkj.mongodb.net:27017,javaland-shard-00-02-rfbkj.mongodb.net:27017/test?ssl=true&replicaSet=Javaland-shard-0&authSource=admin&retryWrites=true","name":"javaland","options":"","parallelism":"-1"},{"id":"f670a23.4e0776","type":"mongodb3","z":"","uri":"mongodb://cluster0-shard-00-00-g4qig.mongodb.net:27017,cluster0-shard-00-01-g4qig.mongodb.net:27017,cluster0-shard-00-02-g4qig.mongodb.net:27017/javaland?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin&retryWrites=true","name":"javaland_nina","options":"","parallelism":"-1"},{"id":"f7065415.74442","type":"node-red-contrib-httpauthcred","z":"","name":"Javaland 2019","authType":"Basic","realm":"javaland","username":"javaland","password":"javaland2019","hashed":false},{"id":"816c4985.cedd18","type":"http in","z":"d5487484.5e656","name":"[GET] /carddispenser","url":"/carddispenser","method":"get","upload":false,"swaggerDoc":"","x":200,"y":100,"wires":[["9913b020.0e8128","1dcfc43b.8fb9cc","5db00608.eac708","39546458.2bb164"]]},{"id":"9913b020.0e8128","type":"blink","z":"d5487484.5e656","name":"blink LED","x":480,"y":100,"wires":[[]]},{"id":"7487c41b.dac134","type":"http response","z":"d5487484.5e656","name":"HTTP OK","statusCode":"200","headers":{},"x":680,"y":200,"wires":[]},{"id":"39892e58.e2bd4a","type":"http in","z":"d5487484.5e656","name":"[POST] /carddispenser_result","url":"/carddispenser_result","method":"post","upload":false,"swaggerDoc":"","x":220,"y":460,"wires":[["292a19c5.8b5f1e","eb6cc92e.f72d9"]]},{"id":"292a19c5.8b5f1e","type":"http response","z":"d5487484.5e656","name":"HTTP OK","statusCode":"200","headers":{},"x":450,"y":520,"wires":[]},{"id":"eb6cc92e.f72d9","type":"debug","z":"d5487484.5e656","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":420,"wires":[]},{"id":"2d03f564.ad858a","type":"rpi-gpio out","z":"d5487484.5e656","name":"","pin":"7","set":true,"level":"0","freq":"","out":"out","x":680,"y":320,"wires":[]},{"id":"1dcfc43b.8fb9cc","type":"debug","z":"d5487484.5e656","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":40,"wires":[]},{"id":"5db00608.eac708","type":"delay","z":"d5487484.5e656","name":"Delay 1 sec","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":160,"wires":[["84696794.012188"]]},{"id":"84696794.012188","type":"change","z":"d5487484.5e656","name":"set pin LOW","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":220,"wires":[["2d03f564.ad858a","be00bef1.b04a68","7487c41b.dac134"]]},{"id":"be00bef1.b04a68","type":"debug","z":"d5487484.5e656","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":280,"wires":[]},{"id":"39546458.2bb164","type":"change","z":"d5487484.5e656","name":"set pin HIGH","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":340,"wires":[["2d03f564.ad858a","be00bef1.b04a68"]]},{"id":"6fef2b68.6f6bb4","type":"mongodb3 in","z":"d5487484.5e656","service":"_ext_","configNode":"f323afe0.ef88c","name":"javaland","collection":"lottery","operation":"insert","x":380,"y":620,"wires":[["8324c517.98df78"]]},{"id":"8b2012c6.beb598","type":"http in","z":"d5487484.5e656","name":"POST /lottery","url":"/lottery","method":"post","upload":false,"swaggerDoc":"","x":170,"y":620,"wires":[["6fef2b68.6f6bb4"]]},{"id":"8324c517.98df78","type":"http response","z":"d5487484.5e656","name":"HTTP OK","statusCode":"200","headers":{},"x":580,"y":620,"wires":[]},{"id":"6bffb385.afc734","type":"http in","z":"d5487484.5e656","name":"GET /lottery","url":"/lottery","method":"get","upload":false,"swaggerDoc":"","x":170,"y":720,"wires":[["cf20bf70.74a59"]]},{"id":"cf20bf70.74a59","type":"mongodb3 in","z":"d5487484.5e656","service":"_ext_","configNode":"f323afe0.ef88c","name":"javaland","collection":"lottery","operation":"find.toArray","x":360,"y":720,"wires":[["b10d54ee.cf46e8"]]},{"id":"b10d54ee.cf46e8","type":"http response","z":"d5487484.5e656","name":"HTTP OK","statusCode":"200","headers":{},"x":540,"y":720,"wires":[]},{"id":"4ba6bd9e.3961b4","type":"http in","z":"d5487484.5e656","name":"POST /raffle","url":"/raffle","method":"post","upload":false,"swaggerDoc":"","x":170,"y":820,"wires":[["9454bb7d.fa5ee8"]]},{"id":"9454bb7d.fa5ee8","type":"mongodb3 in","z":"d5487484.5e656","service":"_ext_","configNode":"f670a23.4e0776","name":"","collection":"raffle","operation":"insert","x":420,"y":820,"wires":[["c6fb5913.1efb68"]]},{"id":"c6fb5913.1efb68","type":"http response","z":"d5487484.5e656","name":"HTTP OK","statusCode":"200","headers":{},"x":620,"y":820,"wires":[]},{"id":"fa0f400f.397fb","type":"mongodb3 in","z":"b7125e5.01c232","service":"_ext_","configNode":"f323afe0.ef88c","name":"javaland","collection":"lottery","operation":"insert","x":480,"y":60,"wires":[["f8a4baf8.d5644"]]},{"id":"62c7d212.308cac","type":"http in","z":"b7125e5.01c232","name":"POST /lottery","url":"/api/lottery","method":"post","upload":false,"swaggerDoc":"","x":70,"y":60,"wires":[["c988692e.8da788"]]},{"id":"f8a4baf8.d5644","type":"http response","z":"b7125e5.01c232","name":"HTTP OK","statusCode":"200","headers":{},"x":680,"y":60,"wires":[]},{"id":"9dbe6ba0.643d1","type":"http in","z":"b7125e5.01c232","name":"GET /lottery","url":"/api/lottery","method":"get","upload":false,"swaggerDoc":"","x":70,"y":120,"wires":[["1cb1b2d6.4410d5"]]},{"id":"83e45f00.674ad","type":"mongodb3 in","z":"b7125e5.01c232","service":"_ext_","configNode":"f323afe0.ef88c","name":"javaland","collection":"lottery","operation":"find.toArray","x":480,"y":120,"wires":[["9c92675d.9ad8d"]]},{"id":"9c92675d.9ad8d","type":"http response","z":"b7125e5.01c232","name":"HTTP OK","statusCode":"200","headers":{},"x":680,"y":120,"wires":[]},{"id":"135c88c8.936e47","type":"http in","z":"b7125e5.01c232","name":"POST /raffle","url":"/api/raffle","method":"post","upload":false,"swaggerDoc":"","x":70,"y":240,"wires":[["f25149b0.ce843"]]},{"id":"a6a78c85.958cf8","type":"mongodb3 in","z":"b7125e5.01c232","service":"_ext_","configNode":"f670a23.4e0776","name":"","collection":"raffle","operation":"insert","x":490,"y":240,"wires":[["1eda8c2a.d6748c"]]},{"id":"1eda8c2a.d6748c","type":"http response","z":"b7125e5.01c232","name":"HTTP OK","statusCode":"200","headers":{},"x":700,"y":240,"wires":[]},{"id":"1cb1b2d6.4410d5","type":"node-red-contrib-httpauth","z":"b7125e5.01c232","name":"Basic Auth Javaland","file":"","cred":"f7065415.74442","authType":"Basic","realm":"","username":"","password":"","hashed":false,"x":280,"y":120,"wires":[["83e45f00.674ad"]]},{"id":"c988692e.8da788","type":"node-red-contrib-httpauth","z":"b7125e5.01c232","name":"Basic Auth Javaland","file":"","cred":"f7065415.74442","authType":"Basic","realm":"","username":"","password":"","hashed":false,"x":280,"y":60,"wires":[["fa0f400f.397fb"]]},{"id":"f25149b0.ce843","type":"node-red-contrib-httpauth","z":"b7125e5.01c232","name":"Basic Auth Javaland","file":"","cred":"f7065415.74442","authType":"Basic","realm":"","username":"","password":"","hashed":false,"x":260,"y":240,"wires":[["a6a78c85.958cf8"]]},{"id":"650e56c7.f983e8","type":"http response","z":"d5487484.5e656","name":"HTTP OK","statusCode":"200","headers":{},"x":620,"y":1100,"wires":[]},{"id":"1cf7fb70.745c95","type":"mongodb3 in","z":"d5487484.5e656","service":"_ext_","configNode":"f670a23.4e0776","name":"get new result","collection":"counters","operation":"findOne","x":280,"y":1100,"wires":[["650e56c7.f983e8"]]},{"id":"b643d99f.be4db8","type":"mongodb3 in","z":"d5487484.5e656","service":"_ext_","configNode":"f670a23.4e0776","name":"increment counter","collection":"counters","operation":"update","x":650,"y":960,"wires":[["4fbeee0f.31bbd"]]},{"id":"5ad5cfe1.689af","type":"function","z":"d5487484.5e656","name":"incrementCounterPost","func":"// msg.query = {_id: \"raffle_participants\" };\n\n// msg.payload = {$inc:{\"sequence_value\" : 1}};\n\nmsg.payload =  [{_id: \"raffle_participants\"},\n{ $inc: { sequence_value: 1 } }]\n\nreturn msg;  \n","outputs":1,"noerr":0,"x":400,"y":960,"wires":[["b643d99f.be4db8"]]},{"id":"f864fd65.0f071","type":"http in","z":"d5487484.5e656","name":"POST /raffle/ptcounter","url":"/raffle/ptcounter","method":"post","upload":false,"swaggerDoc":"","x":140,"y":960,"wires":[["5ad5cfe1.689af"]]},{"id":"4fbeee0f.31bbd","type":"function","z":"d5487484.5e656","name":"getNewValue","func":"// msg.query = {_id: \"raffle_participants\" };\n\n// msg.payload = {$inc:{\"sequence_value\" : 1}};\n\nmsg.payload =  {_id: \"raffle_participants\"}\n\nreturn msg;  \n","outputs":1,"noerr":0,"x":410,"y":1020,"wires":[["1cf7fb70.745c95"]]},{"id":"9abb443a.0549e8","type":"http response","z":"b7125e5.01c232","name":"HTTP OK","statusCode":"200","headers":{},"x":800,"y":420,"wires":[]},{"id":"5faac0c0.4a50d","type":"mongodb3 in","z":"b7125e5.01c232","service":"_ext_","configNode":"f670a23.4e0776","name":"get new result","collection":"counters","operation":"findOne","x":580,"y":420,"wires":[["9abb443a.0549e8"]]},{"id":"4a8bc71f.e9b638","type":"mongodb3 in","z":"b7125e5.01c232","service":"_ext_","configNode":"f670a23.4e0776","name":"increment counter","collection":"counters","operation":"update","x":130,"y":420,"wires":[["d4a067db.adc3b8"]]},{"id":"c7d661a6.2702a","type":"function","z":"b7125e5.01c232","name":"incrementCounterPost","func":"// msg.query = {_id: \"raffle_participants\" };\n\n// msg.payload = {$inc:{\"sequence_value\" : 1}};\n\nmsg.payload =  [{_id: \"raffle_participants\"},\n{ $inc: { sequence_value: 1 } }]\n\nreturn msg;  \n","outputs":1,"noerr":0,"x":640,"y":360,"wires":[["4a8bc71f.e9b638"]]},{"id":"feb728e7.d6da58","type":"http in","z":"b7125e5.01c232","name":"POST /raffle/ptcounter","url":"/raffle/ptcounter","method":"post","upload":false,"swaggerDoc":"","x":100,"y":360,"wires":[["9103d123.c314e"]]},{"id":"d4a067db.adc3b8","type":"function","z":"b7125e5.01c232","name":"getNewValue","func":"// msg.query = {_id: \"raffle_participants\" };\n\n// msg.payload = {$inc:{\"sequence_value\" : 1}};\n\nmsg.payload =  {_id: \"raffle_participants\"}\n\nreturn msg;  \n","outputs":1,"noerr":0,"x":350,"y":420,"wires":[["5faac0c0.4a50d"]]},{"id":"9103d123.c314e","type":"node-red-contrib-httpauth","z":"b7125e5.01c232","name":"Basic Auth Javaland","file":"","cred":"f7065415.74442","authType":"Basic","realm":"","username":"","password":"","hashed":false,"x":360,"y":360,"wires":[["c7d661a6.2702a"]]},{"id":"98b78586.e55598","type":"http in","z":"d5487484.5e656","name":"GET /raffle/participant","url":"/raffle/participant","method":"get","upload":false,"swaggerDoc":"","x":140,"y":1180,"wires":[["330c3e5d.d74872"]]},{"id":"186a158e.0590ba","type":"mongodb3 in","z":"d5487484.5e656","service":"_ext_","configNode":"f670a23.4e0776","name":"get participants","collection":"raffle","operation":"findOne","x":600,"y":1180,"wires":[["33c0f0cf.9e8c7"]]},{"id":"33c0f0cf.9e8c7","type":"http response","z":"d5487484.5e656","name":"HTTP OK","statusCode":"200","headers":{},"x":800,"y":1180,"wires":[]},{"id":"330c3e5d.d74872","type":"function","z":"d5487484.5e656","name":"incrementCounterPost","func":"msg.payload = msg.req.params;  \nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":1180,"wires":[["186a158e.0590ba"]]}]