nodered/app/flows/custom-flows.json
[{"id":"e8b668db.8fa81","type":"tab","label":"Flows","disabled":false,"info":""},{"id":"d050f43a.e654e","type":"http in","z":"e8b668db.8fa81","name":"[GET] /carddispenser","url":"/carddispenser","method":"get","upload":false,"swaggerDoc":"","x":200,"y":100,"wires":[["67867e37.28405","26355660.f929a2","17d0528e.fae125"]]},{"id":"24d0e324.f763fc","type":"http response","z":"e8b668db.8fa81","name":"HTTP OK","statusCode":"200","headers":{},"x":680,"y":200,"wires":[]},{"id":"cf77e8e4.9c054","type":"http in","z":"e8b668db.8fa81","name":"[POST] /carddispenser_result","url":"/carddispenser_result","method":"post","upload":false,"swaggerDoc":"","x":220,"y":460,"wires":[["5a329e3c.8f1548","438f0f4.3978ff"]]},{"id":"5a329e3c.8f1548","type":"http response","z":"e8b668db.8fa81","name":"HTTP OK","statusCode":"200","headers":{},"x":450,"y":520,"wires":[]},{"id":"438f0f4.3978ff","type":"debug","z":"e8b668db.8fa81","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":420,"wires":[]},{"id":"8c7fb33f.b9265","type":"rpi-gpio out","z":"e8b668db.8fa81","name":"","pin":"7","set":true,"level":"0","freq":"","out":"out","x":680,"y":320,"wires":[]},{"id":"67867e37.28405","type":"debug","z":"e8b668db.8fa81","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":40,"wires":[]},{"id":"26355660.f929a2","type":"delay","z":"e8b668db.8fa81","name":"Delay 1 sec","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":160,"wires":[["8183b98.cc430c8"]]},{"id":"8183b98.cc430c8","type":"change","z":"e8b668db.8fa81","name":"set pin LOW","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":220,"wires":[["8c7fb33f.b9265","f371da1e.1f0b2","24d0e324.f763fc"]]},{"id":"f371da1e.1f0b2","type":"debug","z":"e8b668db.8fa81","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":280,"wires":[]},{"id":"17d0528e.fae125","type":"change","z":"e8b668db.8fa81","name":"set pin HIGH","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":340,"wires":[["8c7fb33f.b9265","f371da1e.1f0b2"]]},{"id":"967c119b.56c6e8","type":"http in","z":"e8b668db.8fa81","name":"POST /raffle","url":"/raffle","method":"post","upload":false,"swaggerDoc":"","x":170,"y":820,"wires":[["61aa336e.bdd08c"]]},{"id":"61aa336e.bdd08c","type":"mongodb3 in","z":"e8b668db.8fa81","service":"_ext_","configNode":"9e4fe15.b49b5a","name":"","collection":"raffle","operation":"insert","x":420,"y":820,"wires":[["f8a7b8e5.508b78"]]},{"id":"f8a7b8e5.508b78","type":"http response","z":"e8b668db.8fa81","name":"HTTP OK","statusCode":"200","headers":{},"x":620,"y":820,"wires":[]},{"id":"63555617.c89b08","type":"http response","z":"e8b668db.8fa81","name":"HTTP OK","statusCode":"200","headers":{},"x":620,"y":1100,"wires":[]},{"id":"928394b2.671db","type":"mongodb3 in","z":"e8b668db.8fa81","service":"_ext_","configNode":"9e4fe15.b49b5a","name":"get new result","collection":"counters","operation":"findOne","x":280,"y":1100,"wires":[["63555617.c89b08"]]},{"id":"95f47407.0fc618","type":"mongodb3 in","z":"e8b668db.8fa81","service":"_ext_","configNode":"9e4fe15.b49b5a","name":"increment counter","collection":"counters","operation":"update","x":650,"y":960,"wires":[["d576a5ab.b8a24"]]},{"id":"b5c419b0.c5ad18","type":"function","z":"e8b668db.8fa81","name":"incrementCounterPost","func":"// msg.query = {_id: \"raffle_participants\" };\n\n// msg.payload = {$inc:{\"sequence_value\" : 1}};\n\nmsg.payload =  [{_id: \"raffle_participants\"},\n{ $inc: { sequence_value: 1 } }]\n\nreturn msg;  \n","outputs":1,"noerr":0,"x":400,"y":960,"wires":[["95f47407.0fc618"]]},{"id":"fe237b3f.7b63c","type":"http in","z":"e8b668db.8fa81","name":"POST /raffle/ptcounter","url":"/raffle/ptcounter","method":"post","upload":false,"swaggerDoc":"","x":140,"y":960,"wires":[["b5c419b0.c5ad18","bdd87e31.2165d8"]]},{"id":"d576a5ab.b8a24","type":"function","z":"e8b668db.8fa81","name":"getNewValue","func":"// msg.query = {_id: \"raffle_participants\" };\n\n// msg.payload = {$inc:{\"sequence_value\" : 1}};\n\nmsg.payload =  {_id: \"raffle_participants\"}\n\nreturn msg;  \n","outputs":1,"noerr":0,"x":410,"y":1020,"wires":[["928394b2.671db"]]},{"id":"189f5a88.b080a5","type":"http in","z":"e8b668db.8fa81","name":"GET /raffle/participant","url":"/raffle/participant","method":"get","upload":false,"swaggerDoc":"","x":140,"y":1180,"wires":[["e454349d.a9d99"]]},{"id":"cacda354.f8742","type":"mongodb3 in","z":"e8b668db.8fa81","service":"_ext_","configNode":"9e4fe15.b49b5a","name":"get participants","collection":"raffle","operation":"findOne","x":600,"y":1180,"wires":[["539f41b.391b1c"]]},{"id":"539f41b.391b1c","type":"http response","z":"e8b668db.8fa81","name":"HTTP OK","statusCode":"200","headers":{},"x":800,"y":1180,"wires":[]},{"id":"e454349d.a9d99","type":"function","z":"e8b668db.8fa81","name":"incrementCounterPost","func":"msg.payload = msg.req.params;  \nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":1180,"wires":[["cacda354.f8742"]]},{"id":"bdd87e31.2165d8","type":"debug","z":"e8b668db.8fa81","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":319.5,"y":911,"wires":[]},{"id":"9e4fe15.b49b5a","type":"mongodb3","z":"","uri":"mongodb://cluster0-shard-00-00-g4qig.mongodb.net:27017,cluster0-shard-00-01-g4qig.mongodb.net:27017,cluster0-shard-00-02-g4qig.mongodb.net:27017/javaland?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin&retryWrites=true","name":"javaland_nina","options":"","parallelism":"-1"}]