nodered-python/app/flows/carddispenser.json
[{"id":"ba39bd43.d631e8","type":"tab","label":"CardDispension","disabled":false,"info":""},{"id":"b5dde3b8.2b03","type":"http in","z":"ba39bd43.d631e8","name":"[GET] /carddispenser","url":"/carddispenser","method":"get","upload":false,"swaggerDoc":"","x":200,"y":100,"wires":[["8985cc60.58aec","851ab6b.282f348","13425338.bb0045","8c18cf51.a6c1a"]]},{"id":"896e952d.781fc8","type":"http response","z":"ba39bd43.d631e8","name":"HTTP OK","statusCode":"200","headers":{},"x":684,"y":144,"wires":[]},{"id":"14e60f3c.ec6e99","type":"http in","z":"ba39bd43.d631e8","name":"[POST] /carddispenser_result","url":"/carddispenser_result","method":"post","upload":false,"swaggerDoc":"","x":218,"y":395,"wires":[["74ec05a.27c637c","93b8054a.53174"]]},{"id":"74ec05a.27c637c","type":"http response","z":"ba39bd43.d631e8","name":"HTTP OK","statusCode":"200","headers":{},"x":448,"y":455,"wires":[]},{"id":"93b8054a.53174","type":"debug","z":"ba39bd43.d631e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":477,"y":351,"wires":[]},{"id":"87ec4a3e.92dbd","type":"rpi-gpio out","z":"ba39bd43.d631e8","name":"","pin":"7","set":true,"level":"1","freq":"","out":"out","x":684,"y":264,"wires":[]},{"id":"8985cc60.58aec","type":"debug","z":"ba39bd43.d631e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":20,"wires":[]},{"id":"851ab6b.282f348","type":"delay","z":"ba39bd43.d631e8","name":"Delay 1 sec","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":494,"y":104,"wires":[["6df3af86.a07b8"]]},{"id":"6df3af86.a07b8","type":"change","z":"ba39bd43.d631e8","name":"set pin HIGH","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":494,"y":164,"wires":[["87ec4a3e.92dbd","dc601915.f4cc7","896e952d.781fc8"]]},{"id":"dc601915.f4cc7","type":"debug","z":"ba39bd43.d631e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":474,"y":224,"wires":[]},{"id":"13425338.bb0045","type":"change","z":"ba39bd43.d631e8","name":"set pin LOW","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":374,"y":284,"wires":[["87ec4a3e.92dbd","dc601915.f4cc7"]]},{"id":"a330bf64.e3bb6","type":"PN532","z":"ba39bd43.d631e8","name":"","sensorFunction":"read","delay":"2","x":99.5,"y":637,"wires":[["f52cff35.1a0678","b7ad6a18.5f0d78","a6cc7e1c.809e3","96c27909.23bd3"]]},{"id":"f52cff35.1a0678","type":"debug","z":"ba39bd43.d631e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":540,"wires":[]},{"id":"95f93e9.e2d8d4","type":"change","z":"ba39bd43.d631e8","name":"set pin HIGH","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":475,"y":602,"wires":[["1fe9c975.082e17"]]},{"id":"a6cc7e1c.809e3","type":"change","z":"ba39bd43.d631e8","name":"set pin LOW","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":640,"wires":[["1fe9c975.082e17"]]},{"id":"b7ad6a18.5f0d78","type":"delay","z":"ba39bd43.d631e8","name":"Delay 1 sec","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":294,"y":602,"wires":[["95f93e9.e2d8d4"]]},{"id":"1fe9c975.082e17","type":"rpi-gpio out","z":"ba39bd43.d631e8","name":"","pin":"11","set":true,"level":"1","freq":"","out":"out","x":649,"y":643,"wires":[]},{"id":"b61a40a6.db6cd","type":"AWS IotData","z":"ba39bd43.d631e8","aws":"cbc85a40.79512","operation":"Publish","thingName":"","topic":"coffeemaker/addcard","payload":"","endPoint":"a3dtjrh1oco8co-ats.iot.us-west-2.amazonaws.com","name":"addCard","x":520,"y":840,"wires":[[],[]]},{"id":"e3b5fdae.d311c","type":"template","z":"ba39bd43.d631e8","name":"setTopic","field":"topic","fieldType":"msg","format":"handlebars","syntax":"plain","template":"coffeemaker/addcard","output":"str","x":260,"y":760,"wires":[["b8f5e242.14d5f"]]},{"id":"b8f5e242.14d5f","type":"template","z":"ba39bd43.d631e8","name":"setMessage","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"userId\": \"123\",\n  \"cardId\": \"{{payload}}\",\n  \"credit\": {{coffeecount}}\n}\n","output":"str","x":330,"y":804,"wires":[["b61a40a6.db6cd","3e3820af.7a24a8","b28e1b15.e20fe8","d26caae1.f8bad8"]]},{"id":"3e3820af.7a24a8","type":"debug","z":"ba39bd43.d631e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":523.5,"y":785,"wires":[]},{"id":"b28e1b15.e20fe8","type":"debug","z":"ba39bd43.d631e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":516.5,"y":739,"wires":[]},{"id":"8c18cf51.a6c1a","type":"change","z":"ba39bd43.d631e8","name":"store coffeecount","rules":[{"t":"set","p":"coffeecount","pt":"flow","to":"payload.coffeecount","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":60,"wires":[[]]},{"id":"96c27909.23bd3","type":"change","z":"ba39bd43.d631e8","name":"load coffeecount","rules":[{"t":"set","p":"coffeecount","pt":"msg","to":"coffeecount","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":700,"wires":[["e3b5fdae.d311c"]]},{"id":"d26caae1.f8bad8","type":"debug","z":"ba39bd43.d631e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"coffeecount","targetType":"msg","x":550,"y":700,"wires":[]},{"id":"ddbc7eb5.4720d","type":"rpi-neopixels","z":"ba39bd43.d631e8","name":"","pixels":"1","bgnd":"Crimson","fgnd":"Crimson","wipe":"40","mode":"pixels","rgb":"grb","brightness":"100","gamma":true,"x":278.5,"y":470,"wires":[]},{"id":"d56b2a23.8b87b","type":"inject","z":"ba39bd43.d631e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":107.5,"y":462,"wires":[["ddbc7eb5.4720d"]]},{"id":"cbc85a40.79512","type":"amazon config","z":"","name":"AWS","region":"us-west-2","proxyRequired":false,"proxy":""}]