nodered-python/app/flows/rest-api.json
[{"id":"17db3d32.331df3","type":"tab","label":"REST-API","disabled":false,"info":""},{"id":"e54d0aea.0896","type":"http in","z":"17db3d32.331df3","name":"POST /raffle","url":"/api/raffle","method":"post","upload":false,"swaggerDoc":"","x":70,"y":240,"wires":[["e415dd9b.74316"]]},{"id":"88721904.a8fe8","type":"mongodb3 in","z":"17db3d32.331df3","service":"_ext_","configNode":"9e4fe15.b49b5a","name":"","collection":"raffle","operation":"insert","x":496,"y":242,"wires":[["1c4de268.544866"]]},{"id":"1c4de268.544866","type":"http response","z":"17db3d32.331df3","name":"HTTP OK","statusCode":"200","headers":{},"x":700,"y":240,"wires":[]},{"id":"e415dd9b.74316","type":"node-red-contrib-httpauth","z":"17db3d32.331df3","name":"Basic Auth Javaland","file":"","cred":"d43e7314.0f93c","authType":"Basic","realm":"","username":"","password":"","hashed":false,"x":266,"y":242,"wires":[["88721904.a8fe8"]]},{"id":"80ec19dd.0e8cd8","type":"http response","z":"17db3d32.331df3","name":"HTTP OK","statusCode":"200","headers":{},"x":800,"y":420,"wires":[]},{"id":"825b80ec.8ca26","type":"mongodb3 in","z":"17db3d32.331df3","service":"_ext_","configNode":"9e4fe15.b49b5a","name":"get new result","collection":"counters","operation":"findOne","x":586,"y":422,"wires":[["80ec19dd.0e8cd8"]]},{"id":"c86da5d7.c38918","type":"mongodb3 in","z":"17db3d32.331df3","service":"_ext_","configNode":"9e4fe15.b49b5a","name":"increment counter","collection":"counters","operation":"update","x":136,"y":422,"wires":[["92670920.0a0628"]]},{"id":"15c069c2.0b5c7e","type":"function","z":"17db3d32.331df3","name":"incrementCounterPost","func":"// msg.query = {_id: \"raffle_participants\" };\n\n// msg.payload = {$inc:{\"sequence_value\" : 1}};\n\nmsg.payload =  [{_id: \"raffle_participants\"},\n{ $inc: { sequence_value: 1 } }]\n\nreturn msg;  \n","outputs":1,"noerr":0,"x":646,"y":362,"wires":[["c86da5d7.c38918"]]},{"id":"f20f4637.e4094","type":"http in","z":"17db3d32.331df3","name":"POST /raffle/ptcounter","url":"/raffle/ptcounter","method":"post","upload":false,"swaggerDoc":"","x":106,"y":362,"wires":[["1b0e0f8f.245b8"]]},{"id":"92670920.0a0628","type":"function","z":"17db3d32.331df3","name":"getNewValue","func":"// msg.query = {_id: \"raffle_participants\" };\n\n// msg.payload = {$inc:{\"sequence_value\" : 1}};\n\nmsg.payload =  {_id: \"raffle_participants\"}\n\nreturn msg;  \n","outputs":1,"noerr":0,"x":356,"y":422,"wires":[["825b80ec.8ca26"]]},{"id":"1b0e0f8f.245b8","type":"node-red-contrib-httpauth","z":"17db3d32.331df3","name":"Basic Auth Javaland","file":"","cred":"d43e7314.0f93c","authType":"Basic","realm":"","username":"","password":"","hashed":false,"x":366,"y":362,"wires":[["15c069c2.0b5c7e"]]},{"id":"9e4fe15.b49b5a","type":"mongodb3","z":"","uri":"mongodb://cluster0-shard-00-00-g4qig.mongodb.net:27017,cluster0-shard-00-01-g4qig.mongodb.net:27017,cluster0-shard-00-02-g4qig.mongodb.net:27017/javaland?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin&retryWrites=true","name":"javaland_nina","options":"","parallelism":"-1"},{"id":"d43e7314.0f93c","type":"node-red-contrib-httpauthcred","z":"","name":"Javaland 2019","authType":"Basic","realm":"javaland","username":"javaland","password":"javaland2019","hashed":false}]